# Python environment
*.pyc
__pycache__/
.ipynb_checkpoints/

# Conda environment
/envs/
.conda/

# IDE settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
MCM_ProgramBook_TEX/input/*
*.fdb*
*.fls
MCM*2025*.pdf

# System files
.DS_Store
Thumbs.db
.synctex(busy)

# Generated output files
#*.pdf
#/preprocess/out/
preprocess/_temp
preprocess/MakeLatexScheduleMCM.py
preprocess/input/abstracts copy
preprocess/README_files/*

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Others
runinfo/*
*.*#

# Choi's
MCM2025_Personal_Schedule.md
MCM2025_Personal_Schedule.md
MCM2025_schedule.txt
/preprocess/app
MCM_ProgramBook_TEX/MCM2025_book.txt
BATCH_SIZE_GUIDE.md
preprocess/concat_tex.py
PERFORMANCE_OPTIMIZATIONS.md
MCM_ProgramBook_TEX/MCM2025_consolidated.tex
/MCM-2025-Program-Personal
*_sess_talks.tex
MCM_ProgramBook_TEX/MCM2025_book_test.tex
